# Django secret key
DOCKER_SECRET_KEY=your-secret-key-here

# Database
DOCKER_DB_NAME=your-db-name
DOCKER_DB_USER=your-db-user
DOCKER_DB_PASSWORD=your-db-password
DOCKER_DB_HOST=db
DOCKER_DB_PORT=5432

# Stripe
DOCKER_STRIPE_PUBLISHABLE_KEY=your-stripe-publishable-key
DOCKER_STRIPE_SECRET_KEY=your-stripe-secret-key

# Email
DOCKER_EMAIL_HOST_USER=your-email@example.com
DOCKER_EMAIL_HOST_PASSWORD=your-email-password
